*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #f2f3f4;
}

.af{
    max-width: 500px;
    margin: 3rem auto;
    background: #f7fafc;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.af__fieldset{
    border: 0;
    margin-bottom: 2rem;
}

.af__legend{
    font-size:1rem;
    color: #32325d;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.af__label{
    display: block;
    color: #32325d;
    font-size: 0.875rem;
    margin-bottom: .25rem;
    font-weight: 600;
}

.af__group{
 margin-bottom:1rem;
}

.af__input{
 padding: .5rem;
 width: 100%;
 border: transparent;
 border-radius: .25rem;
 background: #f2f3f4;
 box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.af__submit{
    padding: .5rem 1rem;
    background: #32325d;
    border: transparent;
    color: #fff;
    border-radius: .25rem;
    latter-spacing: .025em;
}

.af__reset{
    padding: .5rem 1rem;
    background: transparent;
    border: transparent;
    border-radius: .25rem;
    latter-spacing: .025em;
    color: #32325d;
}