@font-face {
    font-family: 'bankir';
    src: url('../fonts/bankir-retro.eot');
    src: url('../fonts/bankir-retro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bankir-retro.woff2') format('woff2'),
         url('../fonts/bankir-retro.woff') format('woff'),
         url('../fonts/bankir-retro.ttf') format('truetype'),
         url('../fonts/bankir-retro.svg#bankir-retroregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, a{
    font-family: "bankir", Helvetica, Arial, sans-sans;
}